{% if page.extensions.paymentIcons.first %}
    <h4 class="my-4">
        {{ "checkout.paymentIconsTitle"|trans }}
    </h4>
    <div class="checkout-payment-icons {{ config('FroshCartCrossSelling.config.paymentIconClassContainer') }}">
        <style>
            .checkout-payment-icons .payment-icon{
                display: inline-block;
                height: {{ config('FroshCartCrossSelling.config.paymentIconHeight') }};
            }
            .checkout-payment-icons .payment-icon img{
                max-height: {{ config('FroshCartCrossSelling.config.paymentIconHeight') }};
            }
        </style>
        {% for icon in page.extensions.paymentIcons %}
            <div class="payment-icon {{ config('FroshCartCrossSelling.config.paymentIconClass') }}">
                <img src="{{ icon.url }}" title="{{ icon.title }}" alt="{{ icon.alt }}" height="100%">
            </div>
        {% endfor %}
    </div>
{% endif %}
